.nav {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px;
    font-size: var(--fz-md);
  }
  @media (max-width:310px) {
    .nav{
      display: flex;
      flex-direction: column;

    }
    .nav-name{
      display: flex;
      flex-direction: column;
    }
    .nav-links{
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }
  @media (max-width:750px) {
    .nav{
      display: flex;
      flex-direction: column;

    }
    .nav-name{
      display: flex;
      flex-direction: column;
    }
    .nav-links{
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }
  
  /* Left side: name/logo */
  .nav-name a{
    color: #01FE98;
    font-size: 45px;
    font-weight: bold;
  }
 /* Left side: name/logo */
.nav-name a {
    color: #01FE98;
    font-size: clamp(32px, 5vw, 45px);
    font-weight: bold;
    position: relative;
    text-decoration: none;
    letter-spacing: var(--letter-spacing-tight);
  }
  
  /* Animated underline */
  .nav-name a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #01FE98;
    transition: width 0.4s ease;
  }
  
  /* On hover, grow the underline */
  .nav-name a:hover::after {
    width: 100%;
  }
  
  /* All NavLink styles */
  .nav-links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .nav-links {
    display: flex;
    gap: 40px;
  }
  
  /* Active NavLink */
  .nav-links a.active {
    color: #01FE98;
    border-bottom: 2px solid #01FE98;
  }
  /* Hamburger icon */
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

  @media (max-width: 750px) {
    .hamburger {
      margin-left: 200px;
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      gap: 20px;
      position: absolute;
      top: 70px;
      right: 10px;
      background-color: #121212;
      padding: 20px;
      border-radius: 10px;
    }
  
    .nav-links.open {
      display: flex;
    }
  }